@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

/* universal styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* container */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 1px 2px 10px #000;
 
}

/* container a tag */
a {
  text-decoration: none;
}

/* body styles */
body {
  font-family: "poppins", sans-serif;
  background-color: #ddd;
  min-width: fit-content;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}


/* logo styles */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
   height: 25px;
  width: auto;
  object-fit: cover;
  max-width: none;
}

.logo h3 {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #2c3e50;
  font-weight: 600;
}

/* nav ul tag */
nav ul {
  display: flex;
  list-style: none;
}

/* nav ul li tag */
nav ul li {
  margin: 0 1rem;
}

/* nav ul li a tag */
nav ul li a {
  padding: 0.5rem 1rem;
  border: 1px solid #2c3e50;
  color: #000;
  border-radius: 5px;
}


/* search input */
.search {
  position: relative;
}

.search input {
  outline: none;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: inherit;
  
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.55rem;
  outline: none;
  border: none;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  font-family: inherit;
  cursor: pointer;
}

/* product card css */
.products_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5rem 0;
  gap: 2rem
}

.products {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* card image */
.pr_img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  /* max-width: 200px; */
}

.content {
  padding: 1rem;
}

.content .title {
  font-size: 1rem;
  color: #2c3e50;
}

.content .release_date {
  color: #bdc3c7;
  font-size: 0.8rem;
}

.content .price {
  background-color: #2c3e50;
  padding: 0.5rem;
  width: 60%;
  color: #fff;
  margin: 0.5rem 0;
}